.navbar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color-3;
  transition: all 0.3s ease;
  @include media-desktop {
    @include max-width;
    width: 100%;
  }

  .nav-logo {
    a {
      font-size: 2rem;
      font-weight: 1000;
      color: $secondary-color-1;
      transition: all 0.3s ease;
      @include media-desktop {
        @include max-width;
      }

      &:hover {
        @include hoverAnimation;
      }
    }
  }
  .nav-list {
    margin: 0 10rem;
    transition: all 0.3s ease;
    display: none;
    @include media-desktop {
      @include max-width;
    }

    @include media-desktop {
      display: flex;
    }
    .nav-link:hover {
      @include hoverAnimation;
    }
  }

  .signup-login {
    display: none;
    @include media-desktop {
      @include max-width;
    }

    @include media-desktop {
      display: flex;
    }
    a {
      &:hover {
        @include hoverAnimation;
      }
    }
  }
}

.menu {
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 3rem;
  height: 4rem;
  @include flex;
  flex-direction: column;
  cursor: pointer;
  @include media-desktop {
    display: none;
  }

  .line {
    margin: 0.2rem;
    width: 100%;
    height: 0.2rem;
    background-color: blanchedalmond;
  }
}
