@import "0_variables";
@import "0_mixin";
@import "0_header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Fira Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: $primary-color-1;
}

h1 {
  font-weight: 500;
  color: darken($primary-color-3, 60%);
  font-size: $h1-mobile;
}

h2 {
  color: darken($primary-color-3, 60%);
  font-size: $h2-mobile;
}
h3 {
  color: darken($primary-color-3, 60%);
  font-size: $h3-mobile;
}

h4,
h5,
h6 {
  font-size: $h4-h5-h6-mobile;
}

p {
  font-size: $p-mobile;
}
a {
  padding: 1rem;
  font-size: $p-mobile;
  color: darken($primary-color-1, 10%);
}

svg,
img {
  width: 30rem;
  height: 20rem;
  object-fit: fill;
}
